.expert-wrapper-container {
  background-color: white;
  border-radius: 8px;
  border: 1px solid #E6E9EA;
  margin-top: 32px;
}
.expert-wrapper {
  display: flex;

  flex-direction: column;
    margin-left: 32px;

}

.expert-flex {
  display: flex;
  flex-direction: row;
  justify-content:space-between;
}

.expert-wrapper-feature {
  margin-top: 48px;
  font-size: large;
  font-weight: bold;
  color: #114954;
}

.expert-service {
    margin-top: 16px;
  display: flex;
  flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
