.hero-container {
  width: 15%;
  background-color: #8c9597;
  margin-right: 2%;
  padding-left: 0.5%;
  padding-right: 0.5%;
  font-family: "Manrope", sans-serif;
}

.price-container {
  display: flex;
  margin-left: 8%;
  margin-top: 2%;
  margin-bottom: 2%;
}

.price-container img {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

#price {
  color: white;
}

.expertThumbType {
  position: absolute;
  bottom: 8px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 95%;
}

.expert-container {
  position: relative;
}

.expert-img img {
  width: 100%;
  max-height: 150px;
}

.expert-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #394446;
}

#expert-name {
  width: 100%;
  text-align: center;
  font-size: larger;
  line-height: 3%;
}

#expert-role,
#expert-company {
  width: 100%;
  text-align: center;
  font-size: small;
  font-weight: 300;
  line-height: 2%;
}

.hero-link {
  padding: 0;
}

.btnExpert {
  background: #22292a;
  color: white;
  font-size: small;
  font-weight: 300;
  padding: 2px;
  height: 20px;
  width: 40%;
  margin-bottom: 8px;
}

#expertThumbUp {
  padding-left: 7%;
}

.wrapper-nobackground img {
  width: 160px;
}

.wrapper-nobackground {
  margin-left: 4%;
}
