.hero-container {
  font-family: "Manrope", sans-serif;
  margin-right: 32px
}

.price-container {
  display: flex;
  margin-left: 8%;
  margin-top: 2%;
  margin-bottom: 2%;
}

.price-container img {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

#price {
  color: white;
}

.expertThumbType {
  position:absolute;
  bottom: 4px;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: rgba(34, 41, 42, 0.9);
  width: 100%;
  border-radius: 0px 0px 32px 32px;
}

.expert-container {
  position: relative;
    margin-top: 16px;
}

.expert-img img {
  width: 100%;
  width: 213px;
  height: 213px;
  border-radius: 32px;
  border: 1px solid #E6E9EA;
}

.expert-text {
  color: #394446;
}

#expert-name {
  width: 100%;
  text-align: left;
  font-size: larger;
  display: flex;
  align-items: center;
  padding-top: 16px
}

#expert-role,
#expert-company {
  width: 100%;
  text-align: left;
  font-size: 12px;
  font-weight: 500;
  margin: 0;
  font-family: "Manrope", sans-serif;
}

.hero-link {
  padding: 0;
}

.btnExpert {
  background: #D4FF26;
  color: #114954;
  font-size: small;
  font-family: "Manrope", sand-serif;
  font-weight: 600;
  padding: 0px 16px;
  margin-left: 16px;
  height: 20px;
  width: auto;
  border: none;
}

#expertThumbUp {
  margin-left: 32px;
  padding: 4px;
  border-radius: 4px;
  color: white;
  display: flex;
  align-items: center;
}

.wrapper-nobackground img {
  width: 60px;
  height: 60px;
  object-fit: contain;

}

.service-wrapper{
  display: flex;
  align-items: center;
  padding: 16px 10px;
  border-radius: 16px;
  margin-right: 32px;
}
