.expert-wrapper-container {
  margin: auto;
}
.expert-wrapper {
  display: flex;
  flex-direction: column;
}

.expert-flex {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.expert-wrapper-feature {
  padding-left: 17.5%;
  padding-bottom: 2%;
  padding-top: 5%;
  font-size: large;
  font-weight: bold;
}

.expert-service {
  display: flex;
  flex-direction: row;
  margin-left: 14%;
}
