
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 8px 0px;
}

.navbar a {
  text-decoration: none;
  color: #797979;
  font-weight: bold;
  padding: 0 12px;
}

.nav-middle {
  display: flex;
}

a {
  text-decoration: none;
  color: #797979;
  font-weight: bold;
}

a:hover {
  color: #b9b9b9;
}

img {
  width: 100px;
  height: auto;
}
