.cards-wrapper {
  width: 12%;
  margin-right: 2%;
  height: 80%;
  background-color: #8c9597;
  align-items: center;
  justify-content: center;
}

.wrapper-nobackground {
  background-color: transparent !important;
}

.ext-link {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.ext-link h3 {
  justify-self: center;
  font-size: x-large;
  text-align: center;
}
