.cards-wrapper {
  width: 10%;
  margin: 10px;
  background-color: #8c9597;
  margin-top: 2%;
  margin-left: 2%;
  align-items: center;
  justify-content: center;
}

.ext-link {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* .ext-link img {
  width: 100%;
  height: 240px;
  border-top-left-radius: 3%;
  border-top-right-radius: 3%;
  display: block;
  object-fit: cover;
} */

.ext-link h3 {
  justify-self: center;
  font-size: x-large;
  text-align: center;
}
