
/* contact Us page */
.contactUs {
    padding-top: 100px;
    text-align: center;
}

.contactUs p {
    padding-top: 50px;
}

/* Sign in page */
.signIn {
    padding-top: 100px;
}

/* Sign out page */
.signOut {
    padding-top: 100px;
}

/* Sign Up page */

.signUp {
    padding-top: 100px;
}

/* Newevent page */

.newEvent {
    padding-top: 100px;
}

