
@media screen and (min-width: 501px) {
    footer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 18%;
    }
}
@media screen and (max-width: 500px) {
    footer {
        display: flex;
        flex-direction: row;
        /* justify-content: space-between; */
        margin-left: 18%;
    }
}

